extends layout

block append title
	title PushState example

block content
	h1 hello world
	#testPushState
		a(href="#showItems") get list of items
		ul#items
			div
				each item in items
					include item
	
block append js
	script(src='/js/templates.js')
	//- bootstrapped models
	script
		Models='!{JSON.stringify(items)}';
	script(src='/js/testPushState.js')